.env
.env.*
.env.local
!.env.example

# Dependencies - Specify the path from the root
/backend/node_modules
/frontend/node_modules
/contracts/node_modules

# Build Artifacts
/frontend/.next

# IDE and OS specific files
.vscode/
.DS_Store

# Hardhat files
/contracts/artifacts
/contracts/cache
/contracts/typechain-types
/contracts/deployments

# Node modules
/node_modules

# Log files
*.log